<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <p-card header="Login" [style]="{width: '360px'}">
        <div class="field">
            <label for="email">Email</label>
            <input
                type="email" 
                pInputText 
                formControlName="email" 
                class="w-full" 
                name="email" 
                placeholder="Type Your E-mail"
            />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" 
                    class="block p-error">
                <div *ngIf="email.errors?.['required']">E-mail is required</div>
                <div *ngIf="email.errors?.['email']">E-mail should be valid</div>
            </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input
                type="password" 
                pInputText 
                formControlName="password" 
                class="w-full" 
                name="password" 
                placeholder="Type Your Password"
            />
            <small *ngIf="password.invalid && (password.dirty || password.touched)" 
            class="block p-error">
                <div *ngIf="email.errors?.['required']">Password is required</div>
            </small>
        </div>
        <p-button
             label="LOGIN" 
             styleClass="w-full" 
             [disabled]="loginForm.invalid"
             type = "submit"
             >
        </p-button>
        <div class="mt-2">Not a member? <a [routerLink]="['/register']">Register</a></div>
    </p-card>
</form>
